<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/project.css">
</head>

<body>
<!-- navbar -->
<%- include('partial/navbar', {active: "config"}); %>

<main>
    <div class="d-flex justify-content-center">
        <div class="col-med-6 center">
            <h2 align="center">Configuration</h2>

            <form action="/config/" method="POST" target="dummyframe" name="updateForm" id="updateForm">
                <p>Default map location:</p>
                <textarea type="text" name="map.center" style="height:30px"><%- JSON.stringify(config.map.center) %></textarea>
                <br><br>
                <p>Default map zoom:</p>
                <textarea type="text" name="map.zoom" style="height:30px;"><%- JSON.stringify(config.map.zoom) %></textarea>
                <br><br>
                <p>How far back tweets are being searched from now: <br>
                  HIER MUSS NOCH ANGEGEBEN WERDEN, WAS FÜR EINE EINGABE NÖTIG IST: MILLISEKUNDEN, TAGE, ... ?<br>
                (If you put in '<i>null</i>', the tweets will be less than two weeks old.)</p>
                <textarea type="text" name="max_age_tweets" style="height:30px;"><%- JSON.stringify(config.max_age_tweets) %></textarea>
                <br><br>
                <p>Current time as an Epoch timestamp<br>
                (If you put in '<i>null</i>', the actual local current time will be used.)</p>
                <textarea type="text" name="current_time" style="height:30px;"><%- JSON.stringify(config.current_time) %></textarea>
                <br><br>
                <input type="submit" value="Update Configuration" id="submitbutton"/>
            </form>
            <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        </div>
    </div>
</main>

<!-- footer -->
<%- include('partial/footer'); %>

</body>
</html>
